{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Become Creator</title>
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}">
    <link rel="icon" href="{% static 'media/logo.png' %}" type="image/png">

    
</head>
<body>
    <!-- Header -->
    {% include 'DawajKase/header.html' %}
    
    <!-- Main Form -->
    <main>
        <div class="container">
            <!-- Add Backend (this is just remodeled create campaing site btw) -->
            <center style="margin-bottom: 10px;"><h1 class="pageTitle">Become Creator</h1></center>
            <form id="becomeCreatorForm" method="POST">

                <label for="phone">Phone number:</label>
                <input type="text" id="phone" name="phone" required maxlength="15">


                <label for="bank">Bank number:</label>
                <input type="number" id="bank" name="bank" required >

                <label for="image">Documents to verify identity</label>
                <input type="file" id="image" name="image" accept="image/*" required>


                <button id="createCampaignBtn" type="submit">Send verification form</button>
            </form>
        </div>
    </main>

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="footer-links">
                <a href="#">About</a>
                <a href="#">Help</a>
                <a href="#">Terms</a>
                <a href="#">Privacy</a>
            </div>
        </div>
    </footer>
</body>
</html>
