{% load static %}
{% for campaign in campaigns %}
<link rel="stylesheet" href="{% static 'styles/styles.css' %}">
<link rel="icon" href="{% static 'media/logo.png' %}" type="image/png"> 


    <a class="project-link" href="project/{{campaign.id}}">
        <div class="project-box">
            {% if campaign.imageURL %}
            <img src="{% static campaign.imageURL %}" alt="{{ campaign.title }}">
            {% endif %}
            <div class="campaign-content">
                <h2>{{ campaign.title }}</h2>
                {% if showDescription and campaign.description %}
                <p>{{ campaign.description }}</p>
                {% endif %}
                <div class="funding-info">
                    <div class="progress-container">
                        <div class="progress-bar" style="width: {% widthratio campaign.currentMoneyAmount campaign.targetMoneyAmount 100 %}%"></div>
                    </div>
                    <p><strong>${{campaign.currentMoneyAmount}} pledged</strong> of ${{campaign.targetMoneyAmount}} goal</p>

                </div>
            </div>
        </div>
</a>
{% empty %}

 {% endfor %}
