{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Crowdfunding - Donate</title>
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}">
    <link rel="icon" href="{% static 'media/logo.png' %}" type="image/png">
</head>
<body>
    <div class="wrapper">

        {% include 'DawajKase/header.html' %}
        <main>
            <div class="container">
        <center style="font-size: 20px;">
            Donate to <b>{{campaign.title}}</b>
        </center>
        
         <form action="/donate/{{campaign.id}}" method="POST" class="donation-form">
            {% csrf_token %}
            <input type="text" name="message" placeholder="Enter the message (optional)" class="donation-input" id="message">
            <div class="amount-buttons">
                <button type="submit" name="amount" value="1" class="donation-button amount-button">$1</button>
                <button type="submit" name="amount" value="25" class="donation-button amount-button">$25</button>
                <button type="submit" name="amount" value="100" class="donation-button amount-button">$100</button>
                <button type="submit" name="amount" value="250" class="donation-button amount-button">$250</button>
            </div>
         </form>
        {% if error %}
          <center>
            {{error}}
        </center>
        {% endif %}
            </div>
        </main>
    </div>
</body>
