<header>
    <div class="container">
        <a href="/"><div class="logo">Logo</div></a>
        <!-- Search Bar -->
        <div class="search-bar">
            <form method="GET" action="/search">
                <input type="text" id="q" name="q" placeholder="Search projects..." style="float:left; width: 90%;" value="{% if query %}{{query}}{% endif %}" />
                <button type="submit" style="float: left; color: #e0e0e0; border: 1px solid #bb86fc; padding: 10px;background-color:#1f1f1f;">Discover</button>
            </form>
        </div>


        <nav class="navigation">
            <ul>
                {% if userData %}
                    <li><a href="#">Start a project</a></li>
                {% endif %}
            </ul>
        </nav>
        <div class="auth-buttons">
            {% if userData %}
                Welcome, {{ userData.firstName }}!
                <a href="/logout"><button>Log out</button></a>
            {% else %}
                <a href="/auth"><button>Login/Register</button></a>
            {% endif %}
        </div>
    </div>
</header>