<header>
   
    <div class="container">
        <a href="/"><img src="/static/media/logo.png" style="width:50px; height:50px; margin-right: 5px"></a>
        <!-- Search Bar -->
        <div class="search-bar">
            <form method="GET" action="/search_bar">
                <input type="text" id="q" name="q" placeholder="Search projects..." style="float:left; width: 90%;" value="{% if query %}{{query}}{% endif %}" />
            </form>
        </div>


        <nav class="navigation">
            <ul>
                {% with test=False %} <!-- Set to True to display both buttons -->
                {% if test == True %}  
                    <li><a href="/campaign_create">Start a project</a></li>
                    <li><a href="/become_creator">Become a creator</a></li>
                {% else %}
                    {% if userData %}
                        {% if userData.role == 'Admin' %}
                        <li><a href="/confirmation_tab">Admin panel</a></li>
                        {% else %}
                            {% if userData.role == 'Organizer' %}<!--  -->
                                <li><a href="/campaign_create">Start a project</a></li>
                            {% else %}
                                <li><a href="/become_creator">Become a creator</a></li>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                {% endif %}
                {% endwith %}
            </ul>
        </nav>
        <div class="auth-buttons">
            {% if userData %}
                Welcome, {{ userData.firstName }}!
                <a href="/logout"><button>Log out</button></a>
            {% else %}
                <a href="/auth"><button><b>Login / Register</b></button></a>
            {% endif %}
        </div>
    </div>
</header>