{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Crowdfunding</title>
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}">
    <link rel="icon" href="{% static 'media/logo.png' %}" type="image/png">

</head>
<body>
    <!-- Wrapper to make footer stay at the bottom -->
    <div class="wrapper">
        <!-- Header -->
        {% include 'DawajKase/header.html' %}

        <!-- Main Content -->
        <main>
            <div class="container">
                {% if campaigns %}
               <div class="sort">
                    <p>Sort by:</p>
                    <div class="dropdown">
                        <button class="dropdown-button">Pick</button>
                        <ul class="dropdown-menu">
                            <li><a >Technology</a></li>
                            <li><a >Health</a></li>
                            <li><a >Education</a></li>
                            <li><a >Animals</a></li>
                            <li><a >Community</a></li>
                            <li><a >Environment</a></li>
                        </ul>
                    </div>
                </div>
                    <div class="featured-projects">
                        {% include 'DawajKase/campaign_list.html' with campaigns=campaigns|slice:":3" showDescription=True %}

                    </div>
                    <div class="other-projects">
                        {% include 'DawajKase/campaign_list.html' with campaigns=campaigns|slice:"3:9" showDescription=False %}
                    </div>

                 <!-- Nowy kontener na  wyszukiwania -->
                <div id="search-results" style="display: none;"></div>
                {% else %}
                    <p>There are no campaigns!</p>
                {% endif %}
            </div>
        </main>
    </div>

   <script>
        document.getElementById('q').addEventListener('input', function () {
            const query = this.value.trim();
            const featured = document.querySelector('.featured-projects');
            const other = document.querySelector('.other-projects');
            const searchResults = document.getElementById('search-results');

            if (query) {
                fetch(`/search?q=${encodeURIComponent(query)}`)
                    .then(response => response.text())
                    .then(data => {
                        searchResults.style.display = 'block';
                        searchResults.innerHTML = data;

                        featured.style.display = 'none';
                        other.style.display = 'none';
                    })
                    .catch(error => console.error('Error fetching campaigns:', error));
            } else {
                searchResults.style.display = 'none';
                searchResults.innerHTML = '';

                featured.style.display = 'flex';
                other.style.display = 'flex';
            }
        });
                
    </script>
    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="footer-links">
                <a href="#">About</a>
                <a href="#">Help</a>
                <a href="#">Terms</a>
                <a href="#">Privacy</a>
            </div>
        </div>
    </footer>
</body>
</html>
