{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ campaign.title }} project</title>
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}">
    <script src="https://cdn.jsdelivr.net/gh/davidshimjs/qrcodejs/qrcode.min.js"></script>
    <link rel="icon" href="{% static 'media/logo.png' %}" type="image/png">

</head>
<body>
    <!-- Header (Same as main page) -->
    {% include 'DawajKase/header.html' %}

    <!-- Project Content -->
    <main>
        <div class="container">
            <div class="project-details">
                <div class="project-image">
                    <div class="image-placeholder">
                        {% if campaign.imageURL %}
                        <img style="object-fit: contain; object-position: center; width: 100%; height: 100%;" src={% static campaign.imageURL %} />
                        {% endif %}
                    </div>
                </div>
                <div class="project-info">
                    <div id="qrcode" style="float: right;"></div>
                    <h1>{{ campaign.title }}</h1>
                    <p>by <a href="#">{% if creator %} {{creator.firstName}} {{creator.lastName}} {% endif %}</a></p>
                    <p>{{ campaign.shortDescription }}</p>
                    <div class="funding-info">
                        <p><strong>${{campaign.currentMoneyAmount}} ple</strong> of ${{campaign.targetMoneyAmount}} goal</p>
                        <p><strong>3 backers</strong></p>
                        <p><strong id="daysLeft"></strong><span id="clear"> to go</span></p>
                    </div>
                    <a href="/donate/{{campaign.id}}">
                        <button class="back-project">Back this project</button>
                    </a>
                    {% if userData %}
                    <a href="/favourite/{{campaign.id}}">
                        <button class="back-project">
                            {% if isFavourited %} Unfavourite {% else %} Favourite {% endif %}
                        </button>
                    </a>
                    {% endif %}
                    <!-- Campaign delete button -->
                    <div class="dropdown_adm">
                        <button class="dropdown-btn_adm">...</button>
                        <div class="dropdown-menu_adm">
                            <button onclick="deleteCampaign({{ campaign.id }})">Delete Campaign</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="project-description">
                <h2>About</h2>
                <p>{{ campaign.description }}</p>
            </div>

            <br /><br />
            <h2>Donations</h2>
            <br />
            {% for donation in donations %}
            <strong>{{donation.username}}</strong>
            <p>{{donation.message}}</p><br />
            {% endfor %}
            <h2>Comments</h2>
            <br /><br />
            <br />
            {% for comment in comments %}
            <strong>{{comment.username}}</strong>
            <p>{{comment.commentText}}</p><br />
            <!-- Comment delete button -->
            <div class="dropdown_adm">
                <button class="dropdown-btn_adm">...</button>
                <div class="dropdown-menu_adm">
                    <button onclick="deleteComment({{ comment.id }})">Delete Comment</button>
                </div>
                {% endfor %}
            </div>
</main>

    {% include 'DawajKase/footer.html' %}

    <script>
        const endDate = new Date("{{ campaign.endDate|date:'Y-m-d' }}");
        const today = new Date();
        const timeDifference = endDate - today;

        const currentAmount = "{{campaign.currentMoneyAmount}}";
        const targetAmount = "{{campaign.targetMoneyAmount}}";

        const daysRemaining = Math.ceil(timeDifference / (1000 * 60 * 60 * 24));

        document.getElementById("daysLeft").textContent = daysRemaining + " days"
        if (timeDifference < 0) {
            document.getElementById("daysLeft").textContent = "Campaign has ended! ";
            document.getElementById("clear").textContent = "";
            document.querySelector(".back-project").disabled = true;
    const buttons = document.querySelectorAll(".back-project");
        buttons.forEach(button => {
            button.style.display = "none";
    });
        }
        if( currentAmount >= targetAmount){
            document.getElementById("daysLeft").textContent = "Campaign has reached its goal! ";
            document.getElementById("clear").textContent = "";
            document.querySelector(".back-project").disabled = true;
    const buttons = document.querySelectorAll(".back-project");
        buttons.forEach(button => {
            button.style.display = "none";
    });
        }

        new QRCode(document.getElementById("qrcode"), {
            text: "https://dawajkase.net/project-adm/{{campaign.id}}",
            width: 128,
            height: 128,
            colorDark: "#000000",
            colorLight: "#ffffff",
            correctLevel: QRCode.CorrectLevel.H
        });

        function deleteComment(commentId) {
            // Implement comment deletion logic here
            // Change alert to something better like an on site pop up? or delete whole
            alert('Delete comment ID: ' + commentId);
        }

        function deleteCampaign(campaignId) {
            // Implement campaign deletion logic here
            // Change alert to something better like an on site pop up? or delete whole
            alert('Delete campaign ID: ' + campaignId);
        }
    </script>
</body>
</html>
