   <div class="dropdown">
        <button class="dropdown-button">Filter by ...</button>
            <ul class="dropdown-menu">
                <li><a href="javascript:void(0)" onclick="updateQueryParam('category', '1')" class="{% if selected_category == '1' %}active-category{% endif %}">Technology</a></li>
                <li><a href="javascript:void(0)" onclick="updateQueryParam('category', '2')" class="{% if selected_category == '2' %}active-category{% endif %}">Health</a></li>
                 <li><a href="javascript:void(0)" onclick="updateQueryParam('category', '3')" class="{% if selected_category == '3' %}active-category{% endif %}">Education</a></li>
                <li><a href="javascript:void(0)" onclick="updateQueryParam('category', '5')" class="{% if selected_category == '5' %}active-category{% endif %}">Animals</a></li>
                 <li><a href="javascript:void(0)" onclick="updateQueryParam('category', '6')" class="{% if selected_category == '6' %}active-category{% endif %}">Community</a></li>
                 <li><a href="javascript:void(0)" onclick="updateQueryParam('category', '4')" class="{% if selected_category == '4' %}active-category{% endif %}">Environment</a></li>
          </ul>
    </div>

<div class="dropdown">
    <button class="dropdown-button">Sort by...</button>
    <ul class="dropdown-menu">
        <li><a href="javascript:void(0)" onclick="updateQueryParam('sort', 'newest')" class="{% if sort_by == 'newest' %}active-category{% endif %}">Newest first</a></li>
        <li><a href="javascript:void(0)" onclick="updateQueryParam('sort', 'time')" class="{% if sort_by == 'time' %}active-category{% endif %}">Ending soonest</a></li>
        <li><a href="javascript:void(0)" onclick="updateQueryParam('sort', 'amount')" class="{% if sort_by == 'amount' %}active-category{% endif %}">Most funded</a></li>
    </ul>
</div>
<script>

    function updateQueryParam(param, value) {
        const url = new URL(window.location.href);
        url.searchParams.set(param, value);
        window.location.href = url.toString();
    }
</script>